@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B1B1B;
}

.my{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    height: 10vh;
    width: 25vw;
}

.photo>img{
    height: 75px;
    width: 75px;
    border-radius: 40px;
    margin-right: 20px;
}

.photo{
    display: flex;
    align-items: center;
    height: 100%;
}

.myText{
    display: flex;
    align-items: center;
    height: 100%;
}

.np{
    color: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 1.8em;
}

.name{
    color: #ededed;
}

.reseaux{
    height: 23vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    width: 25vw;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

li{
    height: 10vh;
    width: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reseau>a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul>li>a>img{
    height: 40px;
    width: 40px;
    transition: 0.6s;
    opacity: 0.4;
}

ul>li>a>img:hover{
    opacity: 0.9;
    transform: scale(1.6);
    transition: 0.6s;
}

body{
    background-color: #1d1d1d;
}

main{
    background-image: url('../img/360_F_421444029_AZSu1FbsZ2Nmn4SBu8NgoNMYkyWBTlLU.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5%;
}

.first{
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    width: 80vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}

#animation{
    color: #e0e0e0;
    font-family: 'Silkscreen', cursive;
    font-size: 2.2em;
    /*margin-bottom: 4%;*/
}

.sepTop{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.862);
    margin-top: 1%;
    margin-bottom: 4%;
}

.prez{
    color: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.video{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}