@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*font X*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B1B1B;
}

.my{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    height: 10vh;
    width: 25vw;
}

.photo>img{
    height: 75px;
    width: 75px;
    border-radius: 40px;
    margin-right: 20px;
}

.photo{
    display: flex;
    align-items: center;
    height: 100%;
}

.myText{
    display: flex;
    align-items: center;
    height: 100%;
}

.np{
    color: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 1.8em;
}

.name{
    color: #ededed;
}

.reseaux{
    height: 23vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    width: 25vw;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

li{
    height: 10vh;
    width: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reseau>a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul>li>a>img{
    height: 40px;
    width: 40px;
    transition: 0.6s;
    opacity: 0.4;
}

ul>li>a>img:hover{
    opacity: 0.9;
    transform: scale(1.6);
    transition: 0.6s;
}

body{
    background-color: #1d1d1d;
}

main{
    background-image: url('../img/360_F_421444029_AZSu1FbsZ2Nmn4SBu8NgoNMYkyWBTlLU.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.vidSection{
    padding-top: 5%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.vidSection>h2{
    color: #e0e0e0;
    font-family: 'Silkscreen', cursive;
    font-size: 2.2em;
}

.vid{
    margin-top: 5%;
    height: 80%;
    width: 60%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    margin-bottom: 2%;
    border-radius: 10px;
}

.prez>p{
    color: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 1.2em;
}

.textSection{
    margin-top: 3%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.prez{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.sep{
    width: 40%;
}

.details{
    margin-top: 5%;
    margin-bottom: 7.5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2,50%);
    grid-gap: 2px;
    height: 60vh;
    background-color: white;
    border-radius: 14px;
}

.titleGrid{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5%;
}

.topLeft{
    height: 100%;
    width:100%;
    background-color: #1B1B1B;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.topRight{
    height: 100%;
    width:100%;
    background-color: #1B1B1B;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.botLeft{
    height: 100%;
    width:100%;
    background-color: #1B1B1B;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.botRight{
    height: 100%;
    width:100%;
    background-color: #1B1B1B;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.details>div{
    padding-top: 10%;
    padding-left: 10%;
}

.details>div>p{
    color: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 1em;
}

.details>div>p>p{
    color: #e0e0e0;
    font-family: "Source Code Pro", monospace;
    font-size: 1em;
}

hr{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #fff;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #1d1d1d;
    padding-top: 20vh;
}

.container{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoEPSI{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoAquirespi{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>div>img{
    width: 100%;
}

.x{
    color: #e0e0e0c0;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.x:hover{
    cursor: default;
}


/*scrollbar design*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #888; 
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #fff; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}